<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Login</title>
  </head>
  <body>
    <h1>Hello- Please Login to see you TODO page</h1>
    <form action="/login" method="get">
      <input type="text" placeholder="User Name" value= "" name="userName" required>
      <input type="text" placeholder="Password" name="password" required>
      <button type="submit" name="userLogin">Login</button>
    </form>
  </body>
</html>
